{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="container d-flex flex-column  align-items-center">



            <h1 class="my-5 text-success">Réservation confirmée !</h1>


        <a href="{{ path('app_film') }}" class="btn btn-primary">Retourner vers le site</a>

    </div>




{% endblock %}